<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="DST.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><userSettings>
        <DST.Properties.Settings>
            <setting name="TB_Distance" serializeAs="String">
                <value />
            </setting>
            <setting name="TB_Speed" serializeAs="String">
                <value />
            </setting>
            <setting name="numUD_MinDiapasonSpeed" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="numUD_MaxDiapasonSpeed" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="numUD_GradationSpeed" serializeAs="String">
                <value>1</value>
            </setting>
        </DST.Properties.Settings>
    </userSettings>
</configuration>
